<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Students</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button class="btn btn-sm btn-outline-secondary" routerLink="/main/new_student">New</button>
        </div>
    </div>
</div>

<h2>Section title</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Student Name</th>
                <th scope="col">Address</th>
                <th scope="col">Age</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let std of students">
                <td>{{std.id}}</td>
                <td>{{std.studentName}}</td>
                <td>{{std.address}}</td>
                <td>{{std.age}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editStudent(std)" data-bs-toggle="modal" data-bs-target="#exampleModalDefault">
                        Edit
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="deleteStudent(std)">
                        Delete
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="viewStudent(std)">
                        View
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModalDefault" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="myForm" (ngSubmit)="saveStudent()">
                    <div class="form-floating">
                        <input type="text" formControlName="studentName" class="form-control" placeholder="Student Name">
                        <label>Student Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" formControlName="address" class="form-control" placeholder="Student Address">
                        <label>Student Address</label>
                    </div>
                    <div class="form-floating">
                        <input type="number" formControlName="age" class="form-control" placeholder="Age">
                        <label>Age</label>
                    </div>
                    <button [disabled]="myForm.invalid" data-bs-dismiss="modal" class="w-100 btn btn-lg btn-primary">SAVE STUDENT</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>